USE [master]
GO
/****** Object:  Database [GestioneSpese]    Script Date: 23/12/2021 09:39:11 ******/
CREATE DATABASE [GestioneSpese]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestioneSpese', FILENAME = N'C:\Users\Alessia.a.de.martino\GestioneSpese.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestioneSpese_log', FILENAME = N'C:\Users\Alessia.a.de.martino\GestioneSpese_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestioneSpese].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestioneSpese]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 23/12/2021 09:39:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spese]    Script Date: 23/12/2021 09:39:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spese](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataSpesa] [datetime] NULL,
	[Descrizione] [varchar](500) NOT NULL,
	[Utente] [varchar](100) NOT NULL,
	[Importo] [decimal](4, 2) NOT NULL,
	[Approvato] [bit] NOT NULL,
	[CategoriaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Spese]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorie] ([Id])
GO
USE [master]
GO
